.site-footer {
    padding: 6.25em 0 6.25em 0;
    font-family: sans-serif;

        .heading-desc {
            text-transform: uppercase;
            text-align: center;
            font-size: .8em;
            word-spacing: .1em;
            font-family: sans-serif;
            color: $description-color;
        }
    .row {
        justify-content: space-between;
        margin-bottom: 3em;
    }
    .site-logo {
        text-align: center;
        i {
            font-size: 1.5em;
            margin-bottom: 20px;
        }
    }

    .contact-email {
        color: $description-color;
        font-family: sans-serif;
    }

    .social-contact {
        text-align: center;
        span {
            display: block;
            font-size: 1.25em;
            margin-bottom: 2em;
        }

        a {
            padding: 0.5em;
            border-radius: 10em;
            background-color: $border;
            margin: 0 0.4em;
        }
        i {
            width: 1em;
            color: $bg-primary;
        }
    }
  
}
