.section-padding {
    padding: 10em 1em;
}

.row{
    margin: auto;
    max-width: 1420px;
    display: flex;
    align-items: center;
}

.column-7 {
    position: relative;
    width: 100%;
}

.column-5 {
    position: relative;
    width: 100%;
}

