.button-cta {
    text-transform: uppercase;
    text-decoration: none;
    color: $list-menu-item-color;
    border-bottom: 1px solid $border;
    font-size: 13px;
}
button {
    background: transparent;
    border: 0;
}