.section-introduction {
    padding: 7em 0;
    .column-5 {
        max-width: 38.375em;
    }

    .frame {
        margin-left: auto;
    }
}

.section-literally {
    padding: 12.5em 0 10.25em 0;
 
    .section-heading {
        &-center {
            max-width: 43.125em;
        }
    }
}

.section-business {
    padding: 10em 1.5em 10em 1.5em;

    .image-wrap {
        margin-right: 6.25em;
    }

    .section-heading {
        &-center {
            max-width: 55.25em;
        }
        .heading-title {
            &-center {
                font-size: 3em;
                margin-bottom: 1.8em;
            }
        }
    }
}
