@import "./base/mixins";
@import "./base/typography";
@import "./base/variables";
@import "./base/fonts";

@import "./components/navigation";
@import "./components/sections";
@import "./components/buttons";
@import "./components/elements.scss";


@import "./layout/grid";
@import "./layout/footer";
@import "./layout/header";

body {
  margin: 0;
  padding: 0;
  background: transparent;
}